body{
	position: relative;
	background-color: #f6e652;
	font-size: 16pt;
}

div.wrap{
	margin: auto;
	width: 940px;
	position: relative;
}

div.circle1{
	background: #e65a41;
	box-sizing:  border-box;
	width:300px;
	height: 300px;
	border-radius: 50%;
	text-align: center;
	padding-top: 90px;
	position: absolute;
	top: -75px;
	left: 130px;
	color: #f6e652;
	font-size: 0.8em;
}

div.circle2 {
	background-color: #9c5200;
	box-sizing: border-box;
	width: 270px;
	height: 270px;
	padding-top: 100px;
	border-radius: 50%;
	position: absolute;
	top: 250px;
	left: 0px;
	font-size: 0.7em;
	color: #fff;
}

div.circle2 table{
	margin: auto;
}

div.circle3{
	background-color: #FFF;
	box-sizing: border-box;
	border-radius: 50%;
	padding: 100px;
	width:500px;
	height: 500px;
	position:absolute;
	top: 200px;
	left: 230px;
	text-align: center;
	font-size: 0.8em;
	color: #9c5200;
}

div.circle4{
	background-color: #FFF;
	box-sizing: border-box;
	border-radius: 50%;
	padding: 30px;
	padding-right: 30px;
	width: 190px;
	height: 190px;
	position: absolute;
	top:100px;
	left: 580px;
}